/* основной цвет текста #212121 */
/* вторичный цвет текста #757575 */
/* акцент #2196F3 */
/* цвет активной кнопки #188CE8 */
/* цвет фона #FFFFFF */
/* цвет заливки секции #2F303A
            #F5F4FA */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --main-backgr-color: #ffffff;
  --special-backgr-color: #2f303a;
  --portfolio-backgr-color: #f5f4fa;
}

body {
  color: var(--primary-text-color);
  background-color: var(--main-backgr-color);

  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

button {
  font-family: inherit;
  cursor: pointer;
}

.list {
  list-style: none;
}

/* header */

.logo {
  color: var(--accent-color);
  text-decoration: none;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-header {
  color: #000000;
}

.menu-nav,
.contacts {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link {
  color: var(--title-text-color);
  text-decoration: none;
}

.link:hover,
.link:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.contact-link {
  color: var(--primary-text-color);
  text-decoration: none;
}

/* секция шапка */

.hero {
  background-color: var(--special-backgr-color);
}

.hero-title {
  color: #ffffff;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

.hero-btn {
  color: #ffffff;
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

/* секции */

.benefits-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.work-title,
.team-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}

.team {
  background-color: var(--portfolio-backgr-color);
}

.team-name {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-prof {
  font-size: 16px;
  line-height: 1.19;
}

/* портфолио */

.filter-btn {
  color: var(--title-text-color);
  background-color: var(--portfolio-backgr-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
}

.filter-btn:hover,
.filter-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

/* подвал */

.footer {
  background-color: var(--special-backgr-color);
}

.logo-footer,
.location {
  color: #ffffff;
}

.footer-contacts,
.location {
  font-style: normal;
  font-weight: 400;
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
}
